/* Contact form */

.wpcf7 {

  label {
    @apply ms-4 mb-2 text-teal block;
  }

  .wpcf7-form-control-wrap {
    @apply block mb-5;
  }

  input:not([type="submit"]),
  select {
    @apply block w-full px-4 py-3 mb-1 leading-tight border-none ring-1 ring-teal/40 text-teal font-semibold rounded-md w-full bg-white;
    &:focus {
      @apply ring ring-blue;
    }

    &.wpcf7-not-valid {
      @apply ring ring-red;
    }

    &::placeholder {
      @apply text-teal/50;
    }
  }
  
  select {
    appearance:none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23014953' width='12px' height='5px' viewBox='0 0 12 5' version='1.1' xmlns='http://www.w3.org/2000/svg'><polygon points='6 5 12 0 0 0'></polygon></svg>");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px 7px;
    @apply text-teal/50;
  }

  textarea {
    @apply block w-full px-4 py-3 mb-2 leading-tight border-none rounded-md ring-1 ring-teal/40 text-teal font-semibold;
    &:focus {
      @apply ring ring-blue;
    }
    
    &.wpcf7-not-valid {
      @apply ring ring-red;
    }

    &::placeholder {
      @apply text-teal/50;
    }
  }

  .wpcf7-list-item label {
    @apply ms-0 pl-6 flex;

    span {
      display: inline-block;
    }

    input[type="checkbox"] {
      @apply rounded-md h-5 w-5 p-0 inline-block border-none ring-1 ring-teal/40 mb-2 -ml-6;
      margin-right: 8px;

      &:focus {
        @apply ring ring-blue;
      }
      &:checked {
        @apply bg-teal;
      }
    }
  }


  .wpcf7-not-valid-tip {
    @apply font-semibold text-xs text-red block mt-2 -mb-6 text-right pr-3;
  }

  .wpcf7-form {
    .wpcf7-response-output {
      @apply p-3 rounded-md border mt-4 relative hidden;

      &.wpcf7-validation-errors {
        @apply border-yellow text-red;
      }

      &.wpcf7-mail-sent-ok {
        @apply text-teal border-teal;
      }
    }

    &.sent {
      .wpcf7-response-output {
        @apply block bg-yellow/40 border-yellow text-teal;

        &.wpcf7-validation-errors {
          @apply border-yellow text-red;
        }

        &.wpcf7-mail-sent-ok {
          @apply text-teal border-teal;
        }
      }
    }
    &.invalid {
      .wpcf7-response-output {
        @apply block bg-red/40 border-red text-white;

        &.wpcf7-validation-errors {
          @apply border-red text-red;
        }

        &.wpcf7-mail-sent-ok {
          @apply text-teal border-teal;
        }
      }
    }
  }

  .screen-reader-response {
    @apply sr-only;
  }

  .wpcf7-submit {
    @apply cursor-pointer rounded-none border-0 bg-yellow text-teal uppercase font-bold py-3 px-5 inline-block disabled:cursor-not-allowed disabled:opacity-75;
  }


}