

.intro {
  opacity: 1;
  animation-delay: 4.2s;
  animation-name: fadeOpacityOut;
  animation-duration: .4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@media (wp-editor) {
  .intro {
    opacity: 1 !important;
    animation-delay: unset;
    animation-name: unset;
    animation-duration: unset;
    animation-timing-function: unset;
    animation-fill-mode: unset;
  }
}

#intro-animation {

  #wortmarke {
    opacity: 1;
    animation-delay: 2s;
    animation-name: fadeOpacityOut;
    animation-duration: .2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  #claim {

    > * > path {
      opacity: 0;

      animation-duration: .8s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      transform-origin: center;
      transform-box: fill-box;
    }

    #vertrauen path {
      animation-delay: 2s;
      animation-name: spin;
    }

    #versichern path {
      animation-delay: 2.4s;
      animation-name: spin;
    }

    #machen path {
      animation-delay: 2.8s;
      animation-name: spin;
    }
  }
}


@keyframes spin { 
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(-360deg);
    opacity: 1;
  }
}


@keyframes fadeOpacityOut { 
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fadeOpacityIn { 
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}