<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:post-featured-image /-->

  <!-- wp:post-title /-->

  <!-- wp:spacer {"height":"40px"} -->
  <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:template-part {"slug":"example","theme":"vvm","area":"uncategorized"} /-->

  <!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

  <!-- wp:spacer -->
  <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:comments {"legacy":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"vvm","tagName":"footer","className":"site-footer"} /-->
