<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|30"}}},"backgroundColor":"gray-default","textColor":"white","className":"site-footer","layout":{"type":"constrained"}} -->
<div class="wp-block-group site-footer has-white-color has-gray-default-background-color has-text-color has-background" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:columns -->
  <div class="wp-block-columns"><!-- wp:column {"width":"50%"} -->
  <div class="wp-block-column" style="flex-basis:50%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"transparent","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group has-transparent-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:image {"id":351,"aspectRatio":"4.1875","scale":"contain","sizeSlug":"large","linkDestination":"none","style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"className":"logo-footer"} -->
  <figure class="wp-block-image size-large logo-footer"><img src="http://vvm.meta-maniacs.de/app/uploads/2023/09/VVM_Logo.svg" alt="" class="wp-image-351" style="aspect-ratio:4.1875;object-fit:contain"/></figure>
  <!-- /wp:image --></div>
  <!-- /wp:group --></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
  
  <!-- wp:columns {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":{"left":"var:preset|spacing|80"}}}} -->
  <div class="wp-block-columns" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"width":"250px"} -->
  <div class="wp-block-column" style="flex-basis:250px"><!-- wp:paragraph -->
  <p>VVM GmbH</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p>Heisinger Straße 1</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p>45134 Essen</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p><a href="https://maps.app.goo.gl/EUeApxgmbFsWkjyy6" data-type="link" data-id="https://maps.app.goo.gl/EUeApxgmbFsWkjyy6" target="_blank" rel="noreferrer noopener">Google Maps</a></p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase"},"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
  <p style="margin-top:var(--wp--preset--spacing--60);text-transform:uppercase">Rechtliches</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p><a href="http://vvm.meta-maniacs.de/impressum/" data-type="page" data-id="905">Impressum</a></p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p><a href="http://vvm.meta-maniacs.de/datenschutzerklaerung/" data-type="page" data-id="3">Datenschutz</a></p>
  <!-- /wp:paragraph --></div>
  <!-- /wp:column -->
  
  <!-- wp:column {"width":"33.34%"} -->
  <div class="wp-block-column" style="flex-basis:33.34%"><!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase"}}} -->
  <p style="text-transform:uppercase">Kontakt</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p>T 0201 84281-15</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p>F 0201 84281-25</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p><a href="mailto:info@voigt-unternehmensgruppe.de">info@voigt-unternehmensgruppe.de</a></p>
  <!-- /wp:paragraph --></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
  
  <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} -->
  <div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)"><!-- wp:column {"width":"50%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
  <div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:50%"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"backgroundColor":"transparent","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
  <div class="wp-block-group has-transparent-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:acf/icon {"name":"acf/icon","data":{"field_icon_icon":"professional-network-linkedin","field_icon_background_color":"","field_icon_text_color":"teal","field_icon_icon_color":"white","field_icon_auto-width":"0","field_icon_width":"24","field_icon_caption":"","field_icon_link":{"title":"","url":"https://www.linkedin.com/example","target":"_blank"}},"align":"","mode":"preview","style":{"spacing":{"margin":{"right":"var:preset|spacing|20","left":"0","top":"0"}}}} /-->
  
  <!-- wp:acf/icon {"name":"acf/icon","data":{"field_icon_icon":"social-instagram","field_icon_background_color":"","field_icon_text_color":"teal","field_icon_icon_color":"white","field_icon_auto-width":"0","field_icon_width":"24","field_icon_caption":"","field_icon_link":{"title":"","url":"https://www.instagram.com/example","target":"_blank"}},"align":"","mode":"preview","style":{"spacing":{"margin":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"layout":{"selfStretch":"fit","flexSize":null}}} /-->
  
  <!-- wp:acf/icon {"name":"acf/icon","data":{"field_icon_icon":"facebook-logo","field_icon_background_color":"","field_icon_text_color":"teal","field_icon_icon_color":"white","field_icon_auto-width":"0","field_icon_width":"24","field_icon_caption":"","field_icon_link":{"title":"","url":"https://www.facebook.com/example","target":"_blank"}},"align":"","mode":"preview","style":{"spacing":{"margin":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:column -->
  
  <!-- wp:column {"width":"50%","layout":{"type":"default"}} -->
  <div class="wp-block-column" style="flex-basis:50%"><!-- wp:paragraph {"align":"left","className":"copy"} -->
  <p class="has-text-align-left copy">© VVM GmbH 2023</p>
  <!-- /wp:paragraph --></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns --></div>
  <!-- /wp:group -->
  
  <!-- wp:acf/employeeslideout {"name":"acf/employeeslideout","data":{"employees":["381","369"],"_employees":"field_employeelist_employees","link":{"title":"Alle Expert:innen","url":"http://vvm.meta-maniacs.de/ueber-uns/","target":""},"_link":"field_employeelist_link"},"align":"","mode":"preview"} /-->