@import 'fonts/fonts';
@import 'libs/owl.carousel.scss';
@import 'libs/cf7.scss';
@import 'libs/introanimation.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typo */
p {
  margin-bottom: clamp(0.32922rem, calc(8.19333vw / 15.3489), 0.512117rem);
}

.has-7-xl-font-size,
h1 {
  @apply hyphens-auto;
  font-size: var(--wp--preset--font-size--7-xl);
}

.has-5-xl-font-size,
h2 {
  @apply hyphens-auto;
  font-size: var(--wp--preset--font-size--5-xl);
}

.has-4-xl-font-size,
h3 {
  font-size: var(--wp--preset--font-size--4-xl);
}

.has-3-xl-font-size,
h4 {
  font-size: var(--wp--preset--font-size--3-xl);
}

.has-2-xl-font-size,
h5 {
  font-size: var(--wp--preset--font-size--2-xl);
}

.has-xl-font-size,
h6 {
  font-size: var(--wp--preset--font-size-xl);
}

.has-lg-font-size {
  @screen 'xl' {
    font-size: 1.125rem !important;
  }
}

.wp-block-quote {
  p {
    font-family: var(--wp--preset--font-family--big-shoulders-display);
    margin-bottom: var(--wp--preset--spacing--20);
  }
  cite {
    font-style: normal;
  }
}

.cards h4 {
  font-size: var(--wp--preset--font-size--4-xl);
  
  @screen 'md' {
    font-size: var(--wp--preset--font-size--3-xl);
  }
}

a:not(.wp-block-button__link):not(.text-decoration-none) {
  @apply hover:underline underline-offset-3;
}

@media (wp-editor) {
  footer a, header a {
    @apply no-underline;
  }
}

main a:not(.wp-block-button__link):not(.text-decoration-none) {
  @apply underline underline-offset-3;
}

html {
  @apply leading-normal;
  scroll-behavior: smooth;
}

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    @apply fixed overflow-hidden inset-0;

    &.admin-bar {
      padding-top: 32px !important;

      @media screen and (max-width: 782px) {
        padding-top: 46px !important;
      }
    }
  }
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1320px !important;
  width: var(--wp--style--global--content-size);
}

.wp-block-heading {
  @apply font-display;
}

.wp-block-button__link {
  @apply flex items-center;

  &::after {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 5px solid var(--wp--preset--color--teal);
    content: "";
    margin-left: 25px;
    white-space: pre-line;
    position: relative;
  }

  &:hover {
    background-color: var(--wp--preset--color--teal) !important;
    color: var(--wp--preset--color--yellow-default) !important;

    &::after {
      border-left-color: var(--wp--preset--color--yellow-default);
    }
  }
}

.wp-block-megamenu {
  .mega-menu-button {
    &::after {
      width: 0; 
      height: 0; 
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 5px solid var(--wp--preset--color--white);
      content: "";
      margin-left: 8px;
      white-space: pre-line;
      position: relative;

      @screen 'md' {
        border-top-color: var(--wp--preset--color--teal);
      }
    }

    &.active {
      span {
        @apply underline;
      }

      &::after {
        border-top: 0;
        border-bottom: 5px solid var(--wp--preset--color--white);

        @screen 'md' {
          border-bottom-color: var(--wp--preset--color--teal);
        }
      }
    }
  }

  #burger-button {
    &.active {
      .close {
        @apply block;
      }
      .burger {
        @apply hidden;
      }
    }
  }
}

.link-desc {
  margin-top: 2px;
}

main .wp-block-group {
  @apply overflow-hidden;
}

ul.wp-block-list {
  @apply !ms-0;
  padding-left: var(--wp--preset--spacing--20);
  
  li {
    @apply mb-4 relative flex;

    &::before {
      width: 0; 
      height: 0; 
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 5px solid var(--wp--preset--color--white);
      content: "";
      display: inline-block;
      margin-left: 12px;
      margin-right: 15px;
      white-space: pre-line;
      margin-top: 6px;
    }
  }
}

ol.wp-block-list {
  @apply list-decimal;
  @apply pl-8;

  li {
    @apply mb-4 relative;
  }
}


.wp-block-details {
  summary {
    @apply flex items-center justify-between;
    font-size: clamp(1.25rem, 1.81817vw, 1.5rem);
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      @apply ms-4;
      content: "";
      width: 0; 
      height: 0; 
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 6.65px solid currentColor;
    }
  }
  &[open] {
    summary::after {
      @apply ms-4;
      border-bottom: 6.65px solid currentColor;
      border-top: 0px solid transparent;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

/* neutralize the wp default for 782px */
@media (max-width: 782px) {

  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
    gap: 2em var(--wp--preset--spacing--80);
  }

  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
    padding: 0 !important;
  }

  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
}

.wp-block-media-text {
  .wp-block-media-text__content {
    padding: 0 0 0 var(--wp--preset--spacing--70);
    
    > :first-child {
      margin-block-start: 0;
    }
  }

  .wp-block-media-text__media {
    margin-bottom: var(--wp--preset--spacing--20);
    @screen 'md' {
      margin-bottom: 0;
    }
  }

  &.has-media-on-the-right {

    .wp-block-media-text__content {
      padding: 0 var(--wp--preset--spacing--70) 0 0;
      grid-row-start: 1;
      margin-bottom: var(--wp--preset--spacing--20);

      @screen 'md' {
          grid-row-start: 1;
          margin-bottom: 0;
      }
    }

    .wp-block-media-text__media {
      margin-bottom: 0;
      grid-row-start: 2;
      @screen 'md' {
        grid-row-start: 1;
      }
    }
  }

  &.image-offset {
    @screen 'md' {
      .wp-block-media-text__media {
        margin-left: calc(clamp(1vw, 100vw, 1504.8px) / 100  * -7);
        margin-right: 0;
        width: auto !important;
        max-width: inherit !important;
      }
      &.has-media-on-the-right .wp-block-media-text__media {
        margin-right: calc(clamp(1vw, 100vw, 1504.8px) / 100  * -7);
        margin-left: 0;
        width: auto !important;
        max-width: inherit !important;
      }
    }
  }
}

main {
  margin-top: -25px !important;
}

.entry-content .intro {
  @apply !fixed inset-0 z-50 hidden;
}
@media (wp-editor) {
  .entry-content .intro {
    @apply !relative z-0;
  }
}

.site-footer {
  position: relative;

  p {
    position: relative;

    a:not([href^="mailto:"])::after {
      content: "";
      display: inline-block;
      width: 0; 
      height: 0; 
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 5px solid var(--wp--preset--color--white);
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  .copy {
    @apply text-left;
    margin-top: var(--wp--preset--spacing--70);

    @screen 'md' {
      @apply text-right mt-0;
    }
  }
}

svg.icon path {
  stroke: unset;
}


@media (wp-editor) {
  /* Style is ONLY in editor CSS */

  .wp-block-acf-iconmenu {
    color: initial !important;
    background-color: initial !important;
  }
}

.site-header {
  @apply bg-white/25 backdrop-blur-xl;
}

.wp-block-site-logo {
  .custom-logo {
    width: 60px;

    @screen 'md' {
      width: auto;
    }
  }
}

.wp-block-navigation .wp-block-navigation-item__description {
  @apply block text-white/50;
}

.wp-block-hero {
  .hero {
    @screen 'lg' {
      height: calc(100vh - 78px + 25px);
    }
    @media (wp-editor) {
      @screen 'lg' {
        height: auto;
      }
    }
  }

  .slogan {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .5rem * 4vw;
  }

  .placeholder-image {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' width='1000' height='1000'%3E%3Crect width='1000' height='1000' fill='%23cccccc'%3E%3C/rect%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle' font-family='monospace' font-size='26px' fill='%23333333'%3EImage Placeholder%3C/text%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  
  .hero-left {
    height: 45vh;
    
    @screen 'lg' {
     height: auto;
    }
  }
  
  .hero-image {
    background-size: cover;
    background-position: center;
    height: 45vh;
    position: fixed;
  
    img {
      object-fit: cover;
      height: 100%;
    }
  
    @screen 'lg' {
      width: 100%;
      height: 100%;
      position: static;
    }
  }
}

.entry-content > *:not(.wp-block-hero) {
  position: relative;
}


#contact-button {
  bottom: 24px;
  right: 24px;
  width: 60px;

  &.active {
    .close {
      @apply block;
    }
    .talk {
      @apply hidden;
    }
  }
}

#contact-slideout {
  bottom: 0;
  right: 0;
  width: 100%;

  @screen 'md' {
    bottom: 54px;
    right: 54px;
    width: 385px;
   }
}

@screen 'md' {
  body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    width: 86%;
  }
}

#reply-title {
  font-family: var(--wp--preset--font-family--big-shoulders-display);
}

textarea {
  @apply block w-full px-4 py-3 mb-2 leading-tight !border-none rounded-md ring-1 ring-teal/40 text-teal font-semibold;
  &:focus {
    @apply ring ring-blue;
  }
  
  &.wpcf7-not-valid {
    @apply ring ring-red;
  }

  &::placeholder {
    @apply text-teal/50;
  }
}

input:not([type="submit"]),
select {
  @apply block px-4 py-3 mb-1 leading-tight !border-none ring-1 ring-teal/40 text-teal font-semibold rounded-md bg-white;
  
  &:focus {
    @apply ring ring-blue;
  }

  &.wpcf7-not-valid {
    @apply ring ring-red;
  }

  &::placeholder {
    @apply text-teal/50;
  }
}

select {
  appearance:none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23014953' width='12px' height='5px' viewBox='0 0 12 5' version='1.1' xmlns='http://www.w3.org/2000/svg'><polygon points='6 5 12 0 0 0'></polygon></svg>");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px 7px;
  @apply text-teal/50;
}

label {
  @apply ms-4 !mb-2 text-teal block;
}

#commentform {
  > p {
    @apply mb-5;
  }
}

.comment-form-cookies-consent {
  label {
    @apply ms-0 flex;
  }

  #wp-comment-cookies-consent {
    @apply rounded-md h-5 w-5 p-0 inline-block border-none ring-1 ring-teal/40 mb-2 !mt-0 mr-1;

    &:focus {
      @apply ring ring-blue;
    }
    &:checked {
      @apply bg-teal;
    }
  }
}

.cc-window {
  @apply z-40;
}
.cc-btn {
  @apply border-0 uppercase font-bold py-3 px-5 inline-block hover:!no-underline hover:!bg-teal hover:!text-yellow;
}
.cc-link {
  @apply p-0 opacity-100;
}
.cc-allswitches {
  @apply mt-4;
}