@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.entry-content .intro,
.editor-styles-wrapper .intro {
  position: relative !important;
}

.block-editor-block-preview__content-iframe .intro{
  min-height: auto !important;
}

.wp-block-hero .block-editor-inner-blocks,
.wp-block-hero .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: contents;
}

.wp-block-hero .is-layout-constrained .block-editor-block-list__layout > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1320px;
  width: var(--wp--style--global--content-size);
}